/* 기본 컨테이너 스타일 */
.container {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 0 auto; /* 가운데 정렬 */
  background-color: #f2f2f2;
}

/* 배경 이미지 스타일 */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/computer3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* 모니터 컨테이너 스타일 */
/* 모니터 컨테이너는 배경이미지(컴퓨터 이미지)의 모니터 안에만 존재하게 수정함*/
.monitor {
  position: absolute;
  top: 10%; /* 배경 이미지 기준으로 10% 아래에 위치 */
  left: 13%; /* 배경 이미지 기준으로 13% 오른쪽에 위치 */
  width: 74%; /* 배경 이미지의 74%의 폭 */
  height: 57%; /* 배경 이미지의 57%의 높이 */
  background-color: #ccccccc4;
}
.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.attribution a {
  color: #999999;
}
